@import 'variables';
@import 'mixins';
@import 'helpers';

@import 'animations';

@import 'fonts';
@import 'typography';

@import 'footer';
@import 'navigation';

@import 'hero';
@import 'archive';
@import 'page';

@import 'sqs-blocks';

@import 'print';

body {
  .serif-regular;

  background-color: @bgColor;

  width: 100vw;
  max-width: 100vw;

  min-height: 100vh;

  overflow-x: hidden !important;

  text-rendering: optimizeLegibility;
  text-size-adjust: none;

  color: @textColor;

  -webkit-font-smoothing: antialiased;
  image-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: @transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

a {
  text-decoration: none;

  color: inherit;
  &:focus {
    outline: 0;
  }
}

img {
  transition: opacity @transition-short;

  opacity: 1;

  &.loading {
    opacity: 0;
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
pre,
iframe {
  .reset-margins;
}



.main-content {
  .min-vertical;
  .flex-column;

  box-sizing: border-box;

  transition: opacity @transition-long;

  opacity: 1;

  background-color: @bgColor;

  width: 100vw;

  overflow-x: hidden !important;

  &.loading {
    opacity: 0;
  }
  .content-wrapper {
    width: 100%;
  }
}

.home {
  box-sizing: border-box;

  margin-right: auto;
  margin-left: auto;

  padding-top: @content-margin * 2;
  padding-right: @content-margin;
  padding-bottom: @content-margin * 2;
  padding-left: @content-margin;

  max-width: @content-max-width;
  .sqs-block {
    /* ALL BLOCKS */
    .sqs-block-content {
      .sans-regular;
      .base-text(32px);
      .selectable;

      text-align: center;
      p {
        .selectable;
      }
      /* All Contents*/
    }
  }
}
